$primary-color: #1175df;
$light-primary-color: lighten($primary-color, 30%);


#boxContainerSignup {
    width: 300px;
    margin: auto;
    padding: 100px;
    background-color: $primary-color;
    border: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px $light-primary-color;
}
#boxContainerLogin {
    width: 300px;
    margin: auto;
    padding: 100px;
    background-color: $light-primary-color;
    border: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px $primary-color;
}
.searchbox {
    width: 200 px;
    height: 30px;
    border: 10px;
    border-radius: 10px;
    margin: 10px;
}
.signupButton {
    width: 150px;
    height: 30px;
    margin: 10px;
    border-radius:5px;
    opacity: 1;
    
    &:hover {
        cursor: pointer;
        opacity: 0.85;
    }
}
.loginButton {
    width: 150px;
    height: 30px;
    margin: 10px;
    border-radius:10px;
    
    &:hover {
        cursor: pointer;
        opacity: 0.85;
    }
}